annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
click==8.3.3
dj-database-url==2.3.0
Django==5.2.3
django-cors-headers==4.7.0
django-sslserver==0.22
django-unfold==0.91.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.0
et_xmlfile==2.0.0
fastapi==0.136.1
git-filter-repo==2.47.0
gunicorn==25.3.0
h11==0.16.0
idna==3.13
networkx==3.6.1
numpy==2.4.4
openpyxl==3.1.5
packaging==26.2
pandas==3.0.2
pillow==11.2.1
psycopg2-binary==2.9.10
pydantic==2.13.3
pydantic_core==2.46.3
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-decouple==3.8
six==1.17.0
sqlparse==0.5.5
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.46.0
whitenoise==6.12.0
